<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
<head>
<title>Otsikko</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="col-md-4">
		<h3 th:inline="text">Welcome to Anne-Mari's Bookstore, [[${#httpServletRequest.remoteUser}]]</h3>
	</div>

</head>
<body>
<h1 id="otsikko">Anne-Mari's Bookstore</h1>

<table id="taulukko">
<tr>
<th>ISBN</th>
<th>Author</th>
<th>Title</th>
<th>Year</th>
<th>Price</th>
<th>Category</th>

</tr>

<tr th:each = "book : ${books}">
<td th:text= "${book.isbn}"></td>
<td th:text= "${book.author}"></td>
<td th:text= "${book.title}"></td>
<td th:text= "${book.year}"></td>
<td th:text= "${book.price}"></td>
<td th:text= "${book.category.name}"></td>

<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-danger">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>


</tr></table> 
<a id="button" href="/addbook">Add</a>

	<div class="col-md-4" style="padding:50px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" id="button" value="Sign Out" class="btn btn-sm btn-primary"/>
		</form>
	</div>
</body>
</html>